*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(29, 25, 25);
    font-family: nunito sans;
    color: white;
}
nav{
    background-color: black;
    padding: 20px;
position: fixed;
top: 0;
width: 100%;
}
nav a{
    color :white;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
img{
    width: 300px;
    border-radius: 100%;
    height: 320px;
    border: 10px solid grey;
}
 span{
    color: yellow;
    font-size: 50px;
}
.About{
    display: flex;
    gap: 50px;
    padding: 50px;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 50px;
}
.text img{
    height: 20px;
    width: 20px;
    border: 0cap;
    margin-top: 15px;
}
button{
    background-color:rgb(29, 25, 25);
    color:white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 5px 5px 10px black;
}
button a{
    text-decoration: none;
    color: white;
}
.About2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    gap: 50px;
}
.About2 .box{
    align-content: center;
}
.Education .box{
    padding: 50px;
    border: 1px solid yellow;
}
.Education{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
    font-size: 20px;
}
 .box img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    border: 5px solid grey;
}
.MySkills{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    gap: 20px;
}
.container .box{
    padding: 20px;
    border: 1px solid yellow;
    text-align: center;
}
.container .box img{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.Contact{
    text-align: center;
    margin: 50px;
}
.Contact a{
    text-decoration: none;
    color: white;
}
input{
padding: 10px;
margin: 5px;
width: 50%;
height: 25px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(29, 25, 25);
    color: lightgray;
    font-size: 10px;
    margin: 60px;
}
@media screen and (max-width:600px) {
    body{
        background-color: rgb(29, 25, 25);
        font-size: larger;
    }
    .About{
        flex-direction: column;
    }
    .About2{
        grid-template-columns: repeat(1, 1fr);
    }
    .Education{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        gap: 20px;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .Contact{
        padding: none;
        margin-left: 2px;
        margin-right: 2px;
    }
    input{
        width: 350px;
    }
}